page-recipe-results {

  .recipe-avatar-img{
    border-radius: 15% !important;
    height:80px !important;
    width:80px !important;
  }
  .recipe-name{
    font-weight: 500;
    font-size: 1.6em;
    text-transform: capitalize;
  }
  .recipe-source{
    font-size: 1.25em;
    font-weight: 400;
  }

}
